<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>token</key>
	<string>c250629cdcb2d4b36fe85274dcab73917c09d2c4</string>
	<key>Network</key>
	<dict>
		<key>api</key>
		<string>https://api.github.com/repos/</string>
	</dict>
</dict>
</plist>
